body {
    background-color: rgb(253, 251, 251);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    
}

 p, li {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
 }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15; 
    margin-top: 0;  
}

 #titulo {
  top: 0;
  

  
} 

#cabecalho {
    
    background-color: rgb(21, 134, 187);
    width: 100%;
    top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    
     
}
    
#minha_foto {
    margin-top: 100px;
    border-color: rgba(5, 76, 143, 0.623);
    border-style: dotted;
    position: relative;
    
} 

li {
    border: 90;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15;
}

ol ,ul {
    background-color: rgb(50, 163, 88);
    border-radius: 5px;
    border: 80;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15;
    padding: 30;
    margin: 30;
    
}

 .footer {
    background-color: rgb(21, 134, 187);
    padding: 10; 
    width: 100%;
    font-size: 40;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 500;
    text-align: center;
    
    }
    

    p {
    background-color: rgb(50, 163, 88);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15; 
    border-radius: 10;

}
 

#central{
    width: 960px;
    height: 300px;
    top: 0px;
    left: 0px;
    position: relative;
}



.lado-esquerdo {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 260px;
    height: 200px;
   
    
}
.lado-direito {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 300px;
    width: 260px;
    height: 400px;

}


#sobremim {
    display: inline-block;
    position: absolute;
    top: 10px;
    width: 260px;
    height: 200px; 
    left: 800px;
    border-radius: 10;
    
}


#eu {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 590px;
    width: 200px;
    height: 400px;
    padding-left: 5px;
}

h2, h3, h4 {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

}

#titulo-licoes-aprendidas{
    width: 200px;
    height: 30px;
    left: 0px;
    position: relative;
    
}
#titulo-licoes-a-aprender{
    width: 200px;
    height: 30px;
    left: 0px;
    top:0px;
    position: relative;
    

}

